{% extends "charts/base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h1 class="page-header">Senadores em Exercício</h1>
            <small><a href="" target="_blank">Fonte</a> dos dados</small>
        </div>
    </div>
    <div id="ajax-content">
        <div id="loading" style="margin: 0 auto; max-width:50%; text-align: center;">
            <p>Estamos coletando dados abertos disponiveis em
                <a href="http://dadosabertos.senado.leg.br/">http://dadosabertos.senado.leg.br/</a> </p>
            <img src="{% static 'charts/img/loading.gif' %}" />
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'charts/js/build/app.js' %}"></script>

<script>

    $(document).ready(function(){
        renderSenadores();
    });
</script>
{% endblock %}


