{% extends "senate/base.html" %}
{% load static %}

{% block content %}
<style>.img-center {margin: 0 auto;}footer {margin: 50px 0;}</style>

    <div class="container">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Parlamentares
                    <small>Dados do Senado</small>
                </h1>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>-->
            </div>
        </div>

        <!-- Team Members Row -->
        <div id="to-render"></div>


    </div>
{% endblock %}

{% block js %}
    <script type="text/babel" src="{% static 'senate/js/react-components/parliamentary.js' %}"></script>
{% endblock %}


